.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Changes for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem $shadow-light-2;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active 
    &:focus{
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem $shadow-light-2;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInButton .5s ease-out .7s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding:3px;
        transition: all .2s;
    }
    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem $shadow-light-1;
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem $shadow-light-1;
        transform: translateY(0px)
    }
}