.feature-box{
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem $shadow-light-1;
    transition: all .3s;
    
    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
        box-shadow: 0 2rem 6rem $shadow-light-3;
    }
    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
    }
}