.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem; //a bit more on the side so it looks cooler
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;

        @include respond(tab-port){
            width: 100%;
        }
        //only works on chrome and safari
        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem $shadow-light-1;
            border-bottom: 3px solid $color-primary;
            
            &:invalid{
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

    }

    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;

    }

    &__input:placeholder-shown + &__label{ //sibling selector, could be "~" too. Be careful about HTML order, if the label was before the input, it wouldn't work
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group{
        width: 49%;
        display: inline-block;

        @include respond(tab-port){
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    &__radio-input{
        display: none;
    }
    &__radio-label{
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after{
            //when u specify a sudo element, you have to make it "exist", by giving it a content and a display type
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            background-color: $color-primary;
            border-radius: 50%;
            @include translate-50-50;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}