.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem $shadow-medium-2;
    background-color: rgba($color-white,.5);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem; //6 normal + 3 form transform
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port){
        width: 90%;
        padding: 4rem;
        padding-left: 7rem;
    }
    @include respond(phone){
        transform: skewX(0);
    }

    &__shape{
        
        width: 15rem;
        height: 15rem;
        float: left;
        
        border-radius: 50%;
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);// to work on saffari
            shape-outside: circle(50% at 50% 50%);//to work it needs to be floating, and has to have a height and width
            border-radius: none;
        }

        @include respond(phone){
            transform:  translateX(-3rem) skewX(0);
        }
    }

    &__img{
        height: 100%;//taking __shape for reference
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
        // fix another bug, but it doesnt happen anymore backface-visibility: hidden; 
    }
    &__text{
        transform: skewX(12deg);

        @include respond(phone){
            transform: skewX(0);
        }
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,20%);
        color: $color-white;
        font-size: 1.7;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden; //fix the glitch on the animation
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%,-50%);
    }

    &:hover &__img{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}