.u-center-text {
    text-align: center;
}

.u-margin-bottom-big{margin-bottom: 8rem;}
.u-margin-bottom-medium{margin-bottom: 6rem};
.u-margin-bottom-small{margin-bottom: 2rem}

.u-left-text{text-align: left}